/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| ALL ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/* All CSS custom properties */
:root {
  /* Typography */
  --heading-top-padding: var(--secondary-spacing);
  --heading-font-size: 48px;
  --subtitle-size: 24px;
  --story-heading-text-align: left;
  --story-section-font: 700 36px var(--heading-font);
  --story-chapter-font: 600 24px var(--heading-font);
  --story-subchapter-font: 600 18px var(--heading-font);

  /* Imagery */
  --project-media-width: 100%;
}

/* General headings */
h1, h2, h3, h4, h5, h6 {
}

/* List items */
li {
  margin: 0;
  list-style-position: inside;
}

/* Banner on top */
.header-img {
}

/* Name of project at the top */
.project-name {
  padding-top: var(--heading-top-padding);
  font-size: var(--heading-font-size);
}

/* Short description/subtitle below the project name */
.subtitle {
  font-size: var(--subtitle-size);
  padding: 0px;
  padding-bottom: 25px;
}

/* Headings for Overview, Process, and Links sections */
.story-section {
  font: var(--story-section-font);
  text-align: var(--story-heading-text-align);
}

/* Headings for Mission, Playthrough, and Results sections (in Process section) */
.story-chapter {
  font: var(--story-chapter-font);
  text-align: var(--story-heading-text-align);
}

/* Any headings within the story chapters */
.story-subchapter {
  font: var(--story-subchapter-font);
  text-align: var(--story-heading-text-align);
}

/* Button that'll take you back to Gallery page when clicked */
.return-button {
}

/* Hover state for return button */
.return-button:hover {
}

/* Links in the Links section */
.links {
  text-decoration: underline;
}

/* Links underneath PDFs that open the PDF in a separate tab */
.pdf-links {
  text-align: center;
}

/*|||||||||||||||||||| IMAGES/OTHER VISUAL MEDIA ||||||||||||||||||||*/
/* All images */
.project-media {
  width: var(--project-media-width);
  display: block;
  margin: auto;
  border-radius: var(--image-border-radius);
}

/* PDF files */
.pdf-embed {
  height: 600px;
  width: var(--project-media-width);
  display: block;
  margin: auto;
}

/* Youtube videos */
iframe {
  display: block;
  margin: auto;
  width: var(--project-media-width);
  aspect-ratio: 16 / 9;
}

/* Figma prototype */
.figma-mobile-iframe {
  aspect-ratio: 9 / 16;
}

/* Interactive InVision prototypes */
.invision-tablet-iframe {
  width: var(--project-media-width);
  /* height: 1030px; */
  aspect-ratio: 3 / 4;
}

/*|||||||||||||||||||| PROJECT NAV ATTRIBUTES ||||||||||||||||||||*/
/* Collection of section tabs for easy navigation */
.tab-bar {
  text-align: center;
  word-spacing: 20px;
  margin: auto;
  padding: 1%;
}

/* Anchor that allows you to jump to the different main sections */
.section-tab {
  font-family: titillium web;
  background-color: rgba(54, 69, 79, .5);
  border: 5px solid rgba(54, 69, 79, .75);
  border-radius: 5px;
  width: 33.333%;
}

/* Anchor that allows you to jump to the different sub sections */
.section-sub-tab {

}


/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| INDIVIDUAL - GD ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/* Background for GD projects */
/* body.gd-bg {
  background: #616266 url("assets/gamebox-gd.png") no-repeat fixed center;
  background-size: cover;
} */


/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| Media queries ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/* Values for larger desktop-sized displays */
@media (min-width: 1600px) {
  :root {

  }
}

/* Values for tablet-sized displays */
@media (max-width: 768px) {
  :root {
    --heading-font-size: 36px;
  }
}

/* Values for mobile-sized displays */
@media (max-width: 600px) {
  :root {
  }
}

/* Values for smaller mobile-sized displays */
@media (max-width: 425px) {
  :root {
    /* --heading-font-size: 24px; */
  }
}
