/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| ALL ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/* All CSS custom properties */
:root {
    /********************/
    /***** SITEWIDE *****/
    /********************/
    /* Typography */
    --heading-font: titillium web;
    --body-font: roboto;
    --font-color: rgb(255, 255, 255); /* white (#ffffff) */
    --list-margin: 1vh 20vw;
    --max-line-length: 750px;
    --para-padding: 0vh 20vw;
    --default-heading-size: 48px;
    --page-title-top-margin: 5%;

    /* Color scheme */
    --primary-color: 54, 69, 79; /* charcoal (#36454f) */
    --secondary-color: 176, 224, 230; /* powderblue (#b0e0e6) */
    --tertiary-color: 0, 0, 96; /* navy (#000060) */
    --main-bg-color: rgb(97, 98, 102); /* gray (#616266) */

    /* Shadows and glows */
    --blue-btn-hover-glow: 0px 0px 10px rgba(255, 255, 255, .5);

    /* Top navbar */
    --top-nav-height: 35px;
    --top-nav-font-size: 18px;
    --top-nav-padding: 10px;
    --logo-box-left-position: calc((100vw - 75vw) / 2);
    --logo-box-top-position: 10px;
    --logo-side-length: 32px;
    --logo-margin: 0px 10px 0px 0px;
    --logo-name-size: 24px;
    --top-nav-tab-padding: 0px 10px;

    /* Other */
    --body-margin: 5vh 7.5vw;

    /********************/
    /***** HOME PAGE *****/
    /********************/

    /********************/
    /***** ABOUT PAGE *****/
    /********************/

    /********************/
    /***** GALLERY PAGE *****/
    /********************/

    /********************/
    /***** CONTACT PAGE *****/
    /********************/
}
/* Body element */
body {
    margin: var(--body-margin);
    background: var(--main-bg-color) url("assets/wandering_pattern.png") no-repeat fixed center;
    background-size: cover;
}


/*|||||||||||||||||||| TEXT ||||||||||||||||||||*/
/* Heading tags */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--font-color);
    text-align: center;
    font-size: var(--default-heading-size);
}

/* Headings that are page titles (e.g. About, Gallery, Contact) */
.page-title {
    margin-top: var(--page-title-top-margin);
}

/* Paragraph elements */
p {
    font-family: var(--body-font);
    color: var(--font-color);
    max-width: var(--max-line-length);
    padding: var(--para-padding);
}

/* List elements */
li {
    font-family: var(--body-font);
    color: var(--font-color);
    max-width: var(--max-line-length);
    margin: var(--list-margin);
}

/* Anchor elements */
a {
    text-decoration: none;
  	color: var(--font-color);
}

/* Visited links */
a:visited {
    color: var(--font-color);
}

/* Formatting for text in anchors */
.links {
    text-decoration: underline;
}


/*|||||||||||||||||||| TOP NAV ||||||||||||||||||||*/
/* TODO set up automatic nav bar insertion */
/* Top navigation bar, including logo and links to other pages */
#topnav {
    font-family: var(--heading-font);
    position: fixed;
        top: 0px;
        left: 50%;
    margin: 0 auto;
        left: 0px;
        right: 0px;
    background-color: rgb(var(--primary-color));
    z-index: 100;
    font-size: var(--top-nav-font-size);
    padding: var(--top-nav-padding);
    box-shadow: 0 2.5px 10px #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--top-nav-height);
}

/* Blue hover state of links to other pages */
#topnav a:hover {
    color: rgb(var(--secondary-color));
}

/* Container with square JL logo and the "Jasmine Lang" text */
#logo-box {
    position: fixed;
      left: var(--logo-box-left-position);
      top: var(--logo-box-top-position);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Actual logo image */
#logo {
    width: var(--logo-side-length);
    height: var(--logo-side-length);
    z-index: 110;
    margin: var(--logo-margin);
}

/* Glowing hover state of logo */
#logo:hover {
    box-shadow: var(--blue-btn-hover-glow);
}

/* Text attached to logo */
#logo-name {
    font-size: var(--logo-name-size);
    color: var(--font-color);
    font-weight: bold;
}

/* Container with links to different pages */
.top-nav-tab {
    padding: var(--top-nav-tab-padding);
}


/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| HOME ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/

/*|||||||||||||||||||| SLIDESHOW CONTAINER ||||||||||||||||||||*/
/* Partially transparent black container behind the slideshow container */
#theater {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: calc(100vh - 55px);
    border-radius: 5px;
    margin: 0vh -7.5vw;
}

/* Container with all the image slides */
#slideshow {
    text-align: center;
    height: auto;
    width: auto;
    max-width: 75vw;
    max-height: 100vh;
    margin: auto;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for #game-name and #press-start */
#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 95;
}

/* Text on top of the slides */
#game-name {
    text-align: center;
    font-size: 72px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, .75);
    margin: 0px 0px 30px 0px;
}


/*|||||||||||||||||||| PRESS START BUTTON ||||||||||||||||||||*/
/* Button on top of slides that takes you to gallery */
#press-start {
    font-size: 24px;
    color: var(--font-color);
    height: 10vh;
    width: 20vw;
    background-color: rgba(var(--secondary-color), 0.5);
    border: 2.5px solid rgba(var(--tertiary-color), 0.25);
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .75);
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glowing hover state of button*/
#press-start:hover {
    box-shadow: var(--blue-btn-hover-glow);
    text-shadow: 0px 0px 1px var(--glow-color);
    background-color: rgba(var(--secondary-color), 0.75);
    border: 2.5px solid rgba(var(--tertiary-color), 0.35);
}


/*|||||||||||||||||||| SLIDES AND ANIMATION ||||||||||||||||||||*/
/* Class of each image in slideshow */
.slide-img {
    height: calc(100vh - 55px);
    width: 75vw;
    background-size: calc(100vh - 55px);
    margin: auto;
    background: no-repeat center;
    opacity: .8;
}

/* TODO set up file loading so we don't have all this clutter in the CSS */
#slide-1 {
    background-image: url("gallery-img/perillo-chair-1.jpg");
    background-size: cover;
}

#slide-2 {
    background-image: url("gallery-img/budong-structure.png");
    background-size: cover;
}

#slide-3 {
    background-image: url("gallery-img/Day-at-NCMNS-Storyboard.jpg");
    background-size: cover;
}

#slide-4 {
    background-image: url("gallery-img/pandoras-box-start.png");
    background-size: cover;
}

#slide-5 {
    background-image: url("gallery-img/touch-crane-screen.jpg");
    background-size: cover;
}

#slide-6 {
    background-image: url("gallery-img/Harmony-header.jpg");
    background-size: cover;
}

#slide-7 {
    background-image: url("gallery-img/ARE3-cover.jpg");
    background-size: cover;
}

#slide-8 {
    background-image: url("gallery-img/Handbook-cover.jpg");
    background-size: cover;
}

#slide-9 {
    background-image: url("gallery-img/relief-installation.jpg");
    background-size: cover;
}

#slide-10 {
    background-image: url("gallery-img/LiPS-Logos-Portfolio-sq-29.png");
    background-size: cover;
}

#slide-11 {
    background-image: url("gallery-img/StarryReader-Header.jpg");
    background-size: cover;
}

#slide-12 {
    background-image: url("gallery-img/Jasmine-Flipboard-F.jpg");
    background-size: cover;
}

#slide-13 {
    background-image: url("gallery-img/mmg-cover-01.png");
    background-size: cover;
}

#slide-14 {
    background-image: url("gallery-img/Picture-Booth-Context.jpg");
    background-size: cover;
}

#slide-15 {
    background-image: url("gallery-img/After-Kendama-03.png");
    background-size: cover;
}

/* TODO write for loop to go through each image */
.slide-img:nth-child(1) {
    -webkit-animation: xfade 75s 0s infinite; /* start at 0s */
    -moz-animation: xfade 75s 0s infinite;
    -o-animation: xfade 75s 0s infinite;
    animation: xfade 75s 0s infinite;
    z-index: 100;
}

.slide-img:nth-child(2) {
    -webkit-animation: xfade 75s 5s infinite; /* start at 5s */
    -moz-animation: xfade 75s 5s infinite;
    -o-animation: xfade 75s 5s infinite;
    animation: xfade 75s 5s infinite;
    z-index: 90;
}

.slide-img:nth-child(3) {
    -webkit-animation: xfade 75s 10s infinite; /* start at 10s */
    -moz-animation: xfade 75s 10s infinite;
    -o-animation: xfade 75s 10s infinite;
    animation: xfade 75s 10s infinite;
    z-index: 80;
}

.slide-img:nth-child(4) {
    -webkit-animation: xfade 75s 15s infinite; /* start at 15s */
    -moz-animation: xfade 75s 15s infinite;
    -o-animation: xfade 75s 15s infinite;
    animation: xfade 75s 15s infinite;
    z-index: 70;
}

.slide-img:nth-child(5) {
    -webkit-animation: xfade 75s 20s infinite; /* start at 20s */
    -moz-animation: xfade 75s 20s infinite;
    -o-animation: xfade 75s 20s infinite;
    animation: xfade 75s 20s infinite;
    z-index: 60;
}

.slide-img:nth-child(6) {
    -webkit-animation: xfade 75s 25s infinite; /* start at 25s */
    -moz-animation: xfade 75s 25s infinite;
    -o-animation: xfade 75s 25s infinite;
    animation: xfade 75s 25s infinite;
    z-index: 50;
}

.slide-img:nth-child(7) {
    -webkit-animation: xfade 75s 30s infinite; /* start at 30s */
    -moz-animation: xfade 75s 30s infinite;
    -o-animation: xfade 75s 30s infinite;
    animation: xfade 75s 30s infinite;
    z-index: 40;
}

.slide-img:nth-child(8) {
    -webkit-animation: xfade 75s 35s infinite; /* start at 35s */
    -moz-animation: xfade 75s 35s infinite;
    -o-animation: xfade 75s 35s infinite;
    animation: xfade 75s 35s infinite;
    z-index: 30;
}

.slide-img:nth-child(9) {
    -webkit-animation: xfade 75s 40s infinite; /* start at 40s */
    -moz-animation: xfade 75s 40s infinite;
    -o-animation: xfade 75s 40s infinite;
    animation: xfade 75s 40s infinite;
    z-index: 20;
}

.slide-img:nth-child(10) {
    -webkit-animation: xfade 75s 45s infinite; /* start at 45s */
    -moz-animation: xfade 75s 45s infinite;
    -o-animation: xfade 75s 45s infinite;
    animation: xfade 75s 45s infinite;
    z-index: 10;
}

.slide-img:nth-child(11) {
    -webkit-animation: xfade 75s 50s infinite; /* start at 50s */
    -moz-animation: xfade 75s 50s infinite;
    -o-animation: xfade 75s 50s infinite;
    animation: xfade 75s 50s infinite;
    z-index: 9;
}

.slide-img:nth-child(12) {
    -webkit-animation: xfade 75s 55s infinite; /* start at 55s */
    -moz-animation: xfade 75s 55s infinite;
    -o-animation: xfade 75s 55s infinite;
    animation: xfade 75s 55s infinite;
    z-index: 8;
}

.slide-img:nth-child(13) {
    -webkit-animation: xfade 75s 60s infinite; /* start at 60s */
    -moz-animation: xfade 75s 60s infinite;
    -o-animation: xfade 75s 60s infinite;
    animation: xfade 75s 60s infinite;
    z-index: 7;
}

.slide-img:nth-child(14) {
    -webkit-animation: xfade 75s 65s infinite; /* start at 65s */
    -moz-animation: xfade 75s 65s infinite;
    -o-animation: xfade 75s 65s infinite;
    animation: xfade 75s 65s infinite;
    z-index: 7;
}

.slide-img:nth-child(15) {
    -webkit-animation: xfade 75s 70s infinite; /* start at 70s */
    -moz-animation: xfade 75s 70s infinite;
    -o-animation: xfade 75s 70s infinite;
    animation: xfade 75s 70s infinite;
    z-index: 7;
}

/*
.fadeSlides {
    max-width: 750px;
	position: absolute;
}

.fade {
    animation: fading 5s infinite;
}
*/

/* TODO move this code */
/*
SYNTAX = animation: name duration timing-function delay iteration-count direction
- animation timing (when to xfade out) = 100%/# of slides
- % before fade-out, fade-in
- animation duration = # of slides * display time
- see https://stackoverflow.com/questions/22547763/fading-css-slideshow-without-js-that-loops
*/

@-webkit-keyframes xfade {
    0%{opacity:1;} /* each image is visible */
    23.3%{opacity:1;} /* fading out */
    33.3%{opacity:0;} /* invisible */
    90%{opacity:0;} /* fading in */
    100%{opacity:1;} /* visible again */
}

@keyframes xfade {
    0%{opacity:1;}
    23.3%{opacity:1;}
    33.3%{opacity:0;}
    90%{opacity:0;}
    100%{opacity:1;}
}

/*|||||||||||||||||||| WELCOME ||||||||||||||||||||*/
/* Short welcome message and description of this site below the slideshow */
#welcome {
  text-align: center;
}

/* Text of the welcome message */
#welcome-txt {
  font-size: 24px;
}


/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| ABOUT ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/* Header image for About page */
.about-img {
    background-image: url("assets/me-snake.jpg");
    height: 400px;
    width: 600px;
    background-size: 1200px 400px;
    display: block;
    margin: auto;
}

/* Hover state of About image (changes to a different image) */
.about-img:hover {
    background-position: -600px 0px;
}

/* Button to open up CV/resume PDF */
#cv-resume {
    background-color: rgba(var(--secondary-color), 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    padding: 10px;
    margin: auto;
    text-align: center;
    border: 2.5px solid rgba(var(--tertiary-color), 0.5);
    border-radius: 5px;
    font-family: var(--heading-font);
}

/* Glowing hover state of cv-resume button */
#cv-resume:hover {
    box-shadow: var(--blue-btn-hover-glow);
    text-shadow: 0px 0px 1px var(--glow-color);
    background-color: rgba(var(--secondary-color), 0.75);
}


/*|||||||||||||||||||| INTERACTIVE CV ||||||||||||||||||||*/
/* TODO implement interactive flexbox HTML CV */
/*the containers*/
.interactive-cv {
    background-color: rgba(var(--secondary-color), .25);
    border: 2.5px solid rgba(var(--tertiary-color), .25);
    border-radius: 5px;
    padding: 25px;
    margin: 25px 0px;
    /*display: inline; ---it doesn't like this --- */
    display: block;
}

.cv-click {
    display: inline-block;
    height: 200px;
    width: 200px;
    vertical-align: top;
}

.cv-click:hover {
    background-color: rgba(var(--secondary-color), .5);
    border: 2.5px solid rgba(var(--tertiary-color), .5);
    box-shadow: var(--blue-btn-hover-glow);
}

/*how to make expandable/collapsable?*/
/*
.interactive-cv div:target {
    display: none;
}
*/

.cv-header-1 {
    text-align: left;
    font-size: 48px;
    font-weight: 700; /*bold*/
}

.cv-header-2 {
    text-align: left;
    font-size: 24px;
    font-weight: 600; /*semibold*/
}

.cv-header-3 {
    text-align: left;
    font-size: 16px;
    font-weight: 600; /*semibold*/
}

.cv-body-txt {
    font-family: var(--body-font);
  	font-size: 12px;
}


/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| GALLERY ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/

/*|||||||||||||||||||| FRAME ||||||||||||||||||||*/
/* Container for all Gallery elements */
#gallery-strip {
    position: relative;
}

/* Name of Gallery section*/
.gallery-topic {
    clear: both;
    font-size: 36px;
}

/* Box containing Gallery topic and matrix */
.gallery-container {
    margin: 0 -50px;
    padding: 10px 0;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75);
    z-index: 10;
}

/* Box containing the Graphic Design matrix */
#gd-menu {
    background-color: rgba(var(--primary-color), 0.5);
    border: 5px solid rgba(var(--primary-color), 0.75);
    border-radius: 3px;
}

/* Box containing the Art matrix */
#art-menu {
    background-color: rgba(var(--secondary-color), 0.5);
    border: 5px solid rgba(var(--secondary-color), 0.75);
    border-radius: 3px;
}

/* Box containing the Other matrix */
#other-menu {
    background-color: rgba(var(--tertiary-color), 0.5);
    border: 5px solid rgba(var(--tertiary-color), 0.75);
    border-radius: 3px;
}

/* Subcontainer containing Gallery matrix */
.gallery-container-2 {
    text-align: center;
    position: relative;
    display: table;
}


/*|||||||||||||||||||| GRID ||||||||||||||||||||*/
/* The matrix of projects */
.grid {
    /*background-color: powderblue;*/
    height: 200px;
    width: 200px;
    display: inline-block;
    /*float: left; */
    margin: 20px;
    z-index: 10;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    border-radius: 1.5px;
    transition: transform 0.5s 0s; /* when descending (no longer hovering) */
    /*
    background-image: url("WWW4-GD-hover_states.jpg");
    background-size: 400px 2000px;
    */
}

/* Transformation (rising) hover state of matrix items */
.grid:hover {
    /*background-color: #9cc9ce;*/
    cursor: pointer;
    transform: scale(1.2); /* grow a bit bigger */
    transition: transform 0.2s 0s; /* when ascending */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    background-position: -200px 0px;
}

/* Invisible matrix items */
.hidden-item {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    background-image: none;
}

/* Hover state of matrix items (no visible changes) */
.hidden-item:hover {
    background-color: rgba(0, 0, 0, 0);
    cursor: auto;
    transform: none;
    transition: none;
    box-shadow: none;
    background-image: none;
}


/*|||||||||||||||||||| GD GRID HOVER STATES ||||||||||||||||||||*/
/* TODO set up automatic file loading*/
/* Project images to load for the Graphic Design matrix */
.gd-grid {
    background-image: url("assets/WWW4-GD-hover_states-1.jpg");
  	background-size: 400px 2000px;
}

#perillo-grid {
    background-position: 0px 0px;
}

#perillo-grid:hover {
    background-position: -200px 0px;
}

#bu-dong-grid {
    background-position: 0px -200px;
}

#bu-dong-grid:hover {
    background-position: -200px -200px;
}

#ncmns-grid {
    background-position: 0px -400px;
}

#ncmns-grid:hover {
    background-position: -200px -400px;
}

#pandoras-grid {
    background-position: 0px -600px;
}

#pandoras-grid:hover {
    background-position: -200px -600px;
}

#folds-grid {
    background-position: 0px -800px;
}

#folds-grid:hover {
    background-position: -200px -800px;
}

#harmony-grid {
    background-position: 0px -1000px;
}

#harmony-grid:hover {
    background-position: -200px -1000px;
}

#are3-grid {
    background-position: 0px -1200px;
}

#are3-grid:hover {
    background-position: -200px -1200px;
}

#lizards-grid {
    background-position: 0px -1400px;
}

#lizards-grid:hover {
    background-position: -200px -1400px;
}

#relief-grid {
    background-position: 0px -1600px;
}

#relief-grid:hover {
    background-position: -200px -1600px;
}

#lips-grid {
    background-position: 0px -1800px;
}

#lips-grid:hover {
    background-position: -200px -1800px;
}


.gd-grid-2 {
    background-image: url("assets/WWW4-GD-hover_states-2.jpg");
    background-size: 400px 600px;
}

#starry-grid {
    background-position: 0px 0px;
}

#starry-grid:hover {
    background-position: -200px 0px;
}

#flipboard-grid {
    background-position: 0px -200px;
}

#flipboard-grid:hover {
    background-position: -200px -200px;
}

#mmg-grid {
    background-position: 0px -400px;
}

#mmg-grid:hover {
    background-position: -200px -400px;
}

.gd-grid-3 {
    background-image: url("assets/WWW4-GD-hover_states-3.jpg");
    background-size: 400px 400px;
}

#pb-grid {
    background-position: 0px 0px;
}

#pb-grid:hover {
    background-position: -200px 0px;
}

#recon-grid {
    background-position: 0px -200px;
}

#recon-grid:hover {
    background-position: -200px -200px;
}

/*|||||||||||||||||||| ART GRID HOVER STATES ||||||||||||||||||||*/
/* Project images to load for the Art matrix */
.art-grid {
    background-image: url("assets/WWW4-other-hover_states.jpg");
    background-size: 400px 600px;
    background-position: 0px -400px;
}

.art-grid:hover {
    background-position: -200px -400px;
}


/*|||||||||||||||||||| OTHER GRID HOVER STATES ||||||||||||||||||||*/
/* Project images to load for the Other matrix */
.other-grid {
    background-image: url("assets/WWW4-other-hover_states.jpg");
    background-size: 400px 600px;
    background-position: 0px -400px;
}

.other-grid:hover {
    background-position: -200px -400px;
}

#cmms-grid {
    background-position: 0px 0px;
}

#cmms-grid:hover {
    background-position: -200px 0px;
}

#sights-grid {
    background-position: 0px -200px;
}

#sights-grid:hover {
    background-position: -200px -200px;
}


/*|||||||||||||||||||| BUTTONS ||||||||||||||||||||*/
/* Right/left buttons for Gallery matrix */
.menu-button {
    /*border: none;*/
    display: inline-block;
    outline:0;
    /*padding:16px 24px;*/
    padding: 20% 24px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
        top: 50%;
    font-family: var(--heading-font);
    background-color: rgb(20, 20, 20);
    color: #cccccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    z-index: 20;
    border-radius: 1.5px;
    border: 2.5px solid rgba(204, 204, 204, .5);
    transform: translateY(-50%);
}

/* Gray hover state of Gallery section buttons */
.menu-button:hover {
    color: rgb(20, 20, 20);
    background-color: #cccccc;
    cursor: pointer;
    border: 2.5px solid rgba(20, 20, 20, .5);
}

/* Button to go to previous Gallery section */
.menu-left {
    left: -6.25%;
}

/* Button to go to next Gallery section */
.menu-right {
    right: -6.25%;
}


/*|||||||||||||||||||| TABS ||||||||||||||||||||*/
/* Tabs denoting different sections of Gallery */
.section-tab {
    top: 100%;
    width: 33.333%;
    position: absolute;
    border: 2.5px solid rgb(50, 50, 50);
    z-index: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    font-size: 12;
    padding:16px 24px;
    transform: none;
}

/* Opaque white text hover state for section tabs */
.section-tab:hover {
    color: var(--font-color);
}

/* Styling for Graphic Design tab */
#gd-tab {
    background-color: rgba(var(--primary-color), 0.5);
    border: 5px solid rgba(var(--primary-color), 0.75);
    border-radius: 0 0 3px 3px; /* TL, TR, BR, BL */
    border-top: none;
}

/* Styling for Art tab */
#art-tab {
    margin: 0 auto;
    left: 25%;
    right: 25%;
    background-color: rgba(var(--secondary-color), 0.5);
    border: 5px solid rgba(var(--secondary-color), 0.75);
    border-radius: 0 0 3px 3px; /* TL, TR, BR, BL */
    border-top: none;
}

/* Styling for Other tab */
#other-tab {
    right: 0%;
    background-color: rgba(var(--tertiary-color), 0.5);
    border: 5px solid rgba(var(--tertiary-color), 0.75);
    border-radius: 0 0 3px 3px; /* TL, TR, BR, BL */
    border-top: none;
}

/* Styling for tab of current selected section */
.current-tab {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: -16px -24px;
    background-color: #cccccc;
    z-index: 40;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75);
}


/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| CONTACT ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/* TODO fix this */
form {
    color: var(--font-color);
  	font-family: var(--body-font);
}

input[type=text], textarea {
    font-family: var(--body-font);
    background-color: #f4f4f4;
    border: none;
    border-radius: 4px;
    width: 100%;
}

textarea {
    max-width: 100%;
}

.c-label {
    line-height: 1.5;
    font-family: var(--heading-font);
}

input[type=submit] {
    background-color: rgb(var(--secondary-color));
    border-radius: 5px;
    border: 2.5px solid rgba(var(--tertiary-color), 0.5);
    font-family: var(--heading-font);
    font-size: 12px;
    color: var(--font-color);
}

input[type=submit]:hover {
    background-color: #9cc9ce;
  	cursor: pointer;
}

.frame {
    background-color: rgb(var(--primary-color));
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
}





/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| MEDIA QUERIES ||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* TODO set flex and order on larger and smaller screens */
@media (min-width: 600px) {

}
