/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| ALL ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/* All CSS custom properties */
:root {
  /********************/
  /***** SITEWIDE *****/
  /********************/
  --default-vw: 1440; /* 100 vw = 1440 px */
  --primary-spacing: 36px;
  --secondary-spacing: 18px;
  --main-content-padding: 0vw 20vw var(--top-nav-height) 20vw;

  /* Typography */
  --heading-font: titillium web;
  --body-font: roboto;
  --font-color: rgb(255, 255, 255); /* white (#ffffff) */
  --list-margin: 1vh 20vw;
  --max-line-length: 750px;
  --para-padding: 0vh 20vw;
  --default-heading-size: 60px;

  /* Color scheme */
  --primary-color: 54, 69, 79; /* charcoal (#36454f) */
  --secondary-color: 176, 224, 230; /* powderblue (#b0e0e6) */
  --tertiary-color: 0, 0, 96; /* navy (#000060) */
  --main-bg-color: rgb(97, 98, 102); /* gray (#616266) */

  /* Top navbar */
  --top-nav-flex-direction: row;
  --top-nav-height: 35px;
  --top-nav-font-size: 18px;
  --top-nav-padding: 10px;
  --logo-box-left-position: calc((100vw - 75vw) / 2);
  --logo-box-top-position: 10px;
  --logo-side-length: 32px;
  --logo-margin: 0px 10px 0px 0px;
  --logo-name-size: 24px;
  --top-nav-tab-padding: 0px 10px;

  /* Buttons */
  --button-bg-color: rgba(var(--secondary-color), 0.5);
  --button-border: 2px solid rgba(var(--tertiary-color), 0.25);
  --button-border-radius: 4px;
  --button-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --button-padding: 15px;
  --button-bg-color-hover: rgba(var(--secondary-color), 0.75);
  --button-glow-hover: 0px 0px 10px rgba(255, 255, 255, 0.5);
  --button-text-glow-hover: 0 0 1px rgba(255, 255, 255, 0.5);

  /* Images */
  --image-border-radius: 4px;
  --image-border: 4px solid rgb(var(--secondary-color));

  /********************/
  /***** HOME SECTION *****/
  /********************/
  --start-screen-height: calc(100vh - 55px);
  --slideshow-max-width: 75vw;
  --slideshow-max-height: 100vh;
  --game-name-size: 96px;
  --press-start-font-size: 24px;
  --press-start-button-height: 10vh;
  --press-start-button-width: 20vw;
  --welcome-text-size: 24px;

  /********************/
  /***** ABOUT SECTION *****/
  /********************/
  --about-img-width: calc(600 / var(--default-vw) * 100vw);
  --about-img-height: calc(400 / var(--default-vw) * 100vw);
  --about-img-bg-size: calc(var(--about-img-width) * 2) var(--about-img-height);

  /********************/
  /***** 404 PAGE *****/
  /********************/
  --four-oh-four-svg-width: 364px;
}
/* HTML element */
html {
  scroll-behavior: smooth;
}

/* Body element */
body {
  margin: 0px;
  background: var(--main-bg-color) url("assets/wandering_pattern.png") no-repeat fixed center;
  background-size: cover;
}

/* So main content and footer are beneath topnav */
#page {
  position: relative;
    top: calc(2 * var(--top-nav-padding) + var(--top-nav-height));
  min-height: 100vh;
}

/* Main content (content outside of topnav and footer) */
.main-content {
  padding: var(--main-content-padding);
}

/* Divs for the page to jump to so the topnav doesn't overlap with targeted content */
.anchor {
  display: block;
  position: relative;
    top: calc((2 * var(--top-nav-padding) + var(--top-nav-height)) * -1);
  height: 0px;
  width: 0px;
  visibility: hidden;
}

/*|||||||||||||||||||| TEXT ||||||||||||||||||||*/
/* Heading tags */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--font-color);
  text-align: center;
  font-size: var(--default-heading-size);
  margin: 0px;
}

/* Paragraph elements */
p {
  font-family: var(--body-font);
  color: var(--font-color);
  /*max-width: var(--max-line-length);*/
  /* padding: var(--para-padding); */
}

/* Lists */
ul, ol {
  list-style-position: outside;
  text-indent: -1em;
}

/* List elements */
li {
  font-family: var(--body-font);
  color: var(--font-color);
  max-width: var(--max-line-length);
  margin: var(--list-margin);
}

/* Anchor elements */
a {
  text-decoration: none;
	color: var(--font-color);
}

/* Visited links */
a:visited {
  color: var(--font-color);
}

/* Formatting for text in anchors */
.links {
  text-decoration: underline;
}

.links:hover {
  color: rgb(var(--secondary-color));
}

/* Buttons used sitewide */
.button {
  font-family: var(--heading-font);
  color: var(--font-color);
  background-color: var(--button-bg-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  /*margin: 0px;*/
  margin: auto;
  text-align: center;
  padding: var(--button-padding);
}

/* Hover state for sitewide buttons */
.button:hover {
  box-shadow: var(--button-glow-hover);
  text-shadow: var(--button-text-glow-hover);
  background-color: var(--button-bg-color-hover);
  cursor: pointer;
}


/*|||||||||||||||||||| TOP NAV ||||||||||||||||||||*/
/* Top navigation bar, including logo and links to other pages */
#topnav {
  font-family: var(--heading-font);
  position: fixed;
      top: 0px;
      left: 50%;
  margin: 0 auto;
      left: 0px;
      right: 0px;
  background-color: rgb(var(--primary-color));
  z-index: 100;
  font-size: var(--top-nav-font-size);
  padding: var(--top-nav-padding);
  box-shadow: 0 2.5px 10px #000000;

  display: flex;
  flex-direction: var(--top-nav-flex-direction);
  justify-content: center;
  align-items: center;
  height: var(--top-nav-height);
}

/* Blue hover state of links to other pages */
#topnav a:hover {
  color: rgb(var(--secondary-color));
}

/* Container with square JL logo and the "Jasmine Lang" text */
#logo-box {
  position: fixed;
    left: var(--logo-box-left-position);
    top: var(--logo-box-top-position);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Glowing hover state of logo */
#logo-box:hover {
  filter: drop-shadow(0 0 10px rgb(var(--secondary-color)));
  color: rgb(var(--secondary-color));
}

/* Actual logo image */
#logo {
  width: var(--logo-side-length);
  height: var(--logo-side-length);
  z-index: 110;
  margin: var(--logo-margin);
}

/* Text attached to logo */
#logo-name {
  font-size: var(--logo-name-size);
  color: var(--font-color);
  font-weight: bold;
}

/* Container with links to different pages */
.top-nav-tab {
  padding: var(--top-nav-tab-padding);
}


/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| HOME ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
.home-section-title {
  margin-top: var(--primary-spacing);
}

/*|||||||||||||||||||| SLIDESHOW CONTAINER ||||||||||||||||||||*/
/* Partially transparent black container behind the slideshow container */
#theater {
  background-color: rgba(0, 0, 0, 0.5);
  /*width: 100vw;*/
  width: 100%;
  height: var(--start-screen-height);
  border-radius: 5px;
}

/* Container with all the image slides */
#slideshow {
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: var(--slideshow-max-width);
  max-height: var(--slideshow-max-height);
  margin: auto;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container for #game-name and #press-start */
#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 95;
}

/* Text on top of the slides */
#game-name {
  text-align: center;
  font-size: var(--game-name-size);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, .75);
  margin: 0px 0px 30px 0px;
}


/*|||||||||||||||||||| PRESS START BUTTON ||||||||||||||||||||*/
/* Button on top of slides that takes you to gallery */
#press-start {
  font-size: var(--press-start-font-size);
  height: var(--press-start-button-height);
  width: var(--press-start-button-width);
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glowing hover state of button*/
#press-start:hover {
}


/*|||||||||||||||||||| SLIDES AND ANIMATION ||||||||||||||||||||*/
/* Class of each image in slideshow */
.slide-img {
  height: var(--start-screen-height);
  width: var(--slideshow-max-width);
  margin: auto;
  transition: opacity .5s ease-in;
  position: absolute;
    top: 0;
  object-fit: cover;
}

.slide-img + .slide-img {
  opacity: 0;
}


/*|||||||||||||||||||| WELCOME ||||||||||||||||||||*/
/* Short welcome message and description of this site below the slideshow */
#welcome-text {
  text-align: center;
}

/* Friendly interjection */
#greeting {
  margin: 0;
  margin-top: var(--primary-spacing);
}

/* Text of the welcome message */
#welcome-txt {
  /* padding: var(--para-padding); */
  max-width: initial;
  font-size: var(--welcome-text-size);
}

/* Note about responsiveness */
#limitation {
  padding: var(--para-padding);
  max-width: initial;
}


/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| ABOUT ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/* Header image for About page */
.about-img {
  background-image: url("assets/me-snake.jpg");
  height: var(--about-img-height);
  width: var(--about-img-width);
  background-size: var(--about-img-bg-size);
  display: block;
  margin: auto;
  border-radius: var(--image-border-radius);
}

/* Hover state of About image (changes to a different image) */
.about-img:hover {
  background-position: calc(var(--about-img-width) * -1) 0px;
}

.musing {
  font-size: 10px;
  margin-bottom: 18px;
}


/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| GALLERY ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/* Subcontainer containing Gallery matrix */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Mat */
.grid {
  height: calc(200 / var(--default-vw) * 100vw);
  width: calc(200 / var(--default-vw) * 100vw);
  background-size: calc(400 / var(--default-vw) * 100vw) calc(200 / var(--default-vw) * 100vw);
  margin: calc(20 / var(--default-vw) * 100vw);
  z-index: 10;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  border-radius: var(--image-border-radius);
  transition: transform 0.5s 0s; /* when descending (no longer hovering) */
}

/* Transformation (rising) hover state of matrix items */
.grid:hover {
  cursor: pointer;
  transform: scale(1.2); /* grow a bit bigger */
  transition: transform 0.2s 0s; /* when ascending */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
  background-position: calc(-200 / var(--default-vw) * 100vw) 0px;
}

#bu-dong-grid {
  background-image: url("assets/Tile-bu-Dong.png");
}

#pandoras-grid {
  background-image: url("assets/Tile-Pandoras-Box.png");
}

#harmony-grid {
  background-image: url("assets/Tile-Harmony.png");
}

#are3-grid {
  background-image: url("assets/Tile-ARE3.png");
}

#lizards-grid {
  background-image: url("assets/Tile-Of-Lizards.png");
}

#starry-grid {
  background-image: url("assets/Tile-StarryReader.png");
}

#pb-grid {
  background-image: url("assets/Tile-Picture-Booth.png");
}

#recon-grid {
  background-image: url("assets/Tile-Reconstruction.png");
}

#pidgepanion-grid {
  background-image: url("assets/Tile-Pidgepanion.png");
}

#immersive-grid{
  background-image: url("assets/Tile-Immersive-Scholar.png");
}

/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| FOOTER ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
footer {
  text-align: center;
  background-color: rgb(var(--primary-color));
  padding: var(--primary-spacing) 0px;
  /* position: absolute;
    bottom: 0; */
  width: 100%;
  box-sizing: border-box;
  margin-top: var(--top-nav-height);
}

#footer-logo {
  height: 36px;
  width: auto;
}

#contact, #copyright {
  font-size: 14px;
}

.back-to-top-button {
  display: inline-block;
  font-size: 14px;
}

/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| 404 PAGE ||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||*/
#four-oh-four {
  text-align: center;
}

#four-oh-four-svg {
  margin: var(--primary-spacing) 0px var(--secondary-spacing) 0px;
  width: var(--four-oh-four-svg-width);
  height: auto;
  transition: all .5s ease-in;
}

#four-oh-four-svg:hover {
  filter:url("#four-oh-four-svg-glow");
  overflow: visible !important; /* For glow */
  transition: all .5s ease-in;
}

#four-oh-four-title {
  font-size: 36px;
}


/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||| MEDIA QUERIES ||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* Values for larger desktop displays */
@media (min-width: 1600px) {
  .menu-button {
    padding: 10% 12px;
  }

  .section-tab {
    padding: 16px 12px;
  }
}

/* Values for smaller laptop displays */
@media (max-width: 1280px) {
  .menu-button {
    padding: 30% 12px;
  }

  .grid {
    height: calc(225 / var(--default-vw) * 100vw);
    width: calc(225 / var(--default-vw) * 100vw);
    background-size: calc(450 / var(--default-vw) * 100vw) calc(225 / var(--default-vw) * 100vw);
  }

  .grid:hover {
    background-position: calc(-225 / var(--default-vw) * 100vw) 0px;
  }
}

/* Values for tablet-sized displays */
@media (max-width: 930px) {
  :root {
    /********************/
    /***** SITEWIDE *****/
    /********************/
    --main-content-padding: 0vw 10vw var(--top-nav-height) 10vw;

    /* Typography */
    --para-padding: 0vh 10vw;
    --default-heading-size: 54px;

    /* Top navbar */
    --top-nav-flex-direction: column;
    --logo-box-left-position: 5vw;

    /********************/
    /***** HOME SECTION *****/
    /********************/
    --slideshow-max-width: 100vw;
    --game-name-size: 60px;
    --press-start-font-size: 18px;
    --press-start-button-height: 7.5vh;
    --press-start-button-width: 30vw;
    --welcome-text-size: 21px;

    /********************/
    /***** ABOUT SECTION *****/
    /********************/
    --about-img-width: calc(900 / var(--default-vw) * 100vw);
    --about-img-height: calc(600 / var(--default-vw) * 100vw);
  }

  #top-nav-tab-group {
    position: fixed;
    right: var(--logo-box-left-position);
  }

  #game-name {
    margin: 0px 0px 20px 0px;
  }

  .grid {
    height: calc(400 / var(--default-vw) * 100vw);
    width: calc(400 / var(--default-vw) * 100vw);
    background-size: calc(800 / var(--default-vw) * 100vw) calc(400 / var(--default-vw) * 100vw);
  }

  .grid:hover {
    background-position: calc(-400 / var(--default-vw) * 100vw) 0px;
  }
}

/* Values for mobile-sized displays */
@media (max-width: 600px) {
  :root {
    /********************/
    /***** SITEWIDE *****/
    /********************/
    --main-content-padding: var(--primary-spacing) 5vw var(--top-nav-height) 5vw;

    /* Typography */
    --para-padding: 0vh 5vw;
    --default-heading-size: 48px;

    /* Top navbar */
    --top-nav-height: 75px;

    /********************/
    /***** HOME SECTION *****/
    /********************/
    --start-screen-height: calc(100vh - 95px);
    --game-name-size: 48px;
    --press-start-button-width: 40vw;
    --welcome-text-size: 18px;

    /********************/
    /***** ABOUT SECTION *****/
    /********************/
    --about-img-width: calc(1200 / var(--default-vw) * 100vw);
    --about-img-height: calc(800 / var(--default-vw) * 100vw);

    /********************/
    /***** 404 PAGE *****/
    /********************/
    --four-oh-four-svg-width: 75vw;
  }

  #logo-box {
    position: static;
  }

  #top-nav-tab-group {
    position: static;
    right: auto;
    padding-top: 10px;
  }

  #game-name {
    margin: 0px 0px 10px 0px;
  }

  #welcome {
    /* padding-top: 110px; */
  }

  .grid {
    height: calc(800 / var(--default-vw) * 100vw);
    width: calc(800 / var(--default-vw) * 100vw);
    background-size: calc(1600 / var(--default-vw) * 100vw) calc(800 / var(--default-vw) * 100vw);
    margin: calc(40 / var(--default-vw) * 100vw);
  }

  .grid:hover {
    background-position: calc(-800 / var(--default-vw) * 100vw) 0px;
  }
}
